
<h1 class="container text-center my-4">Bienvenido a las Verdureras, <br>agarre de lo bueno</h1>

<div class="container mt-5">
    <div class="row row-cols-1 cols-md-4">
        {{> products}}
    </div>
</div>